body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('/images/backgrnd.jpg') no-repeat center center fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 300px; /* Set a width for the form container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn {
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 20px; /* Adjust padding for button size */
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px; /* Increase font size for better visibility */
    margin-top: 10px; /* Add margin to separate from form fields */
    width: 100%; /* Make the button take full width of the container */
}

.btn:hover {
    background: #0056b3;
}

.error {
    color: red;
    margin-top: 10px; /* Add margin to separate error message from button */
}
